button.btn.btn-primary.searchBtn {
  background: none;
  color: #575a89;
  border: none;
  position: relative;
  right: 360px;
}
input.form-control.bg-light.border-0.small.searchBar {
  color: black;
  background: #f4f5f9 !important;
  padding-left: 40px;
}
h6.shopHHH {
  color: black;
  font-weight: 600;
  font-size: 15px;
  margin-top: 13px;
}
span.AdminBtn {
  color: gray;
  margin-top: 24px !important;
  font-size: 14px;
}
li.nav-item.dropdown.no-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 52px;
  width: 100%;
}
.p_tag:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  background-color: black;
  border-radius: 6px;
}

.p_tag {
  margin-left: 30px;

  /* display: inline; */
  color: white;
  font-family: "Readex Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a.nav-link.collapsed.anc_tag {
  display: flex;
  align-items: baseline !important;
  justify-content: flex-start;
}
a.nav-link.collapsed.anc_tag:hover {
  display: flex;
  justify-content: flex-start;
}
p.p_tag:hover {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: black;
  width: 120%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 5px 10px 15px;
  height: 47px;
}
